body {
    background-color: #f9f9f9;
}
h1.logo-wrapper {
    margin: 0;
}
header .brand-logo {
    padding: 0px 20px;
              line-height: 64px;
}
header .brand-logo img {
    width: 172px;
}
header .brand-logo span {
              margin:0px;
}
header .brand-logo span.m {     
              color:#00bcd4;
}
header .brand-logo span.o {       
              color:#69f0ae;
}
header .brand-logo span.d {       
              color:#ffff00 ;
}
header .brand-logo span.s {       
              color:#ff9100 ;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("@{baseurl}fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("@{baseurl}fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("@{baseurl}fonts/roboto/Roboto-Light.woff2") format("woff2"), url("@{baseurl}fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("@{baseurl}fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("@{baseurl}fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("@{baseurl}fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("@{baseurl}fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("@{baseurl}fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("@{baseurl}fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}
 
@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
}
 
/*Search box*/
.header-search-wrapper {
  margin: 10px auto 0 220px;
  width: calc(100% - 600px);
  height: 40px;
  display: inline-block;
  position: relative;
}
 
.header-search-wrapper i {
  position: absolute;
  font-size: 24px;
  top: 6px;
  left: 24px;
  line-height: 32px !important;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}
 
input.header-search-input {
  display: block;
  padding: 8px 8px 8px 72px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 26px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border-radius: 3px;
}
 
input.header-search-input:hover {
  background: rgba(255, 255, 255, 0.5);
}
 
input.header-search-input:focus {
  color: #333;
  background: #fff;
  border-bottom: none !important;
  box-shadow: none !important;
}
 
.header-search-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
 
.header-search-input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
 
.header-search-input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
 
.header-search-input:focus::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
 
.header-search-input:focus::-moz-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
 
.header-search-input:focus::placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
 
.header-search-input:focus:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
 
.header-search-input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
/*Nav Icons*/
#profile-dropdown {
              width: 140px !important;
}
 
#notifications-dropdown h5 {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}
 
/*Left Sidebar*/
#sidebar--left {
    position: fixed;
    z-index: 999;
    height: auto;
}
 
ul.side-nav.leftside {
    top: 64px;
    overflow: hidden;
              width: 220px;
}
 
@media only screen and (max-width: 992px) {
              ul.side-nav.leftside {
                             top: 56px !important;
              }
}
 
ul.side-nav.leftside li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
 
ul.side-nav.leftside li.active {
  background-color: rgba(0, 0, 0, 0.04);
}
 
.collapsible .collapsible-header .keyboard_arrow_down , .collapsible .collapsible-header.active .keyboard_arrow_right{
              display:none;
}
 
.collapsible .collapsible-header.active .keyboard_arrow_down , .collapsible .collapsible-header .keyboard_arrow_right{
              display:block;
}
 
/*Main Content*/
#main {
  padding-left: 220px;
}
 
@media only screen and (max-width: 993px) {
  #main {
    padding-left: 0;
  }
}
 
.container {
  width: 98%;
  padding: 0 0.5rem;
}
 
.data-table {
   margin: .5rem 0 1rem 0;
}
 
.data-table .table-header, .data-table .table-content, .data-table .table-footer {
              padding: 0 1rem;
}            
.table-header .page-info, .table-footer .page-info {
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 1rem 0;
}


.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: rgba(0, 0, 0, .87);
}

.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a.active {
    color: #fff;
}